@model BudgetEntry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BudgetEntry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedEntry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoneyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromCreditcard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromCreditcard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToSharedAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToSharedAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
